.squashed-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    background: white;
    margin-top: -1em;
}

.squashed-card-bottom {
    margin-bottom: 1em;
}

.comment-body {
    padding: 0.5em;
    display: flex;
}

.subject {
    display: block;
    padding: 0.2em;
    font-weight: 900;
}

.author {
    font-weight: bold;
    flex-grow: 1;
    flex-shrink: 1;
}

.author-badge {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 1em;
    text-align: center;
    line-height: 50px;
}

.message {
    display: block;
    width: 80%;
    flex-grow: 2;
    flex-shrink: 2;
    padding: 0.5em;
    overflow-wrap: break-word;
}

.time {
    font-style: italic;
    display: inline;
}

.subheader {
    font-size: 0.6em;
}